.App {

  min-width: 960px;

  .label {
    color: gray;
  }

  .value {
    color: green;

    &:hover {
      color: red;
    }
  }

  .Button {
    position: absolute;
    left: 0px;
    background-color: #1b1e21;
    padding: 5px;
  }

  .IntroBox{

    min-width: 960px;
    background-color: #1b1e21;
    background-size: 100px;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;

  }


  .TableLeft {
    position: center;

  }

  .Intro{
    position: absolute;
    min-width: 960px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;


    HTML, BODY {
      height: 20%;
      width: 100%;

    }

    $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;

    BODY {
      background: hsl(200,100,11);
      background-size: .12em 20%;
      font: 16em/1 Arial;

    }

    .text--line {
      font-size: 5em;
    }
    .text--line2 {

      font-size: 2em;
    }

    svg {
      position: absolute;
      width: 40%;
      height: 10%;

    }

    $max: 5;
    $stroke-step: 1%;
    .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
      stroke-width: 1.2px;

      animation: stroke-offset 5s infinite linear;

      @for $item from 1 through $max {
        $stroke-color: nth($colors, $item);

        &:nth-child(#{$item}) {
          stroke: $stroke-color;
          stroke-dashoffset: $stroke-step * $item;
        }
      }
    }

    @keyframes stroke-offset {
      50% {
        stroke-dashoffset: $stroke-step * $max;
        stroke-dasharray: 0 $stroke-step * $max*2.5;
      }
    }


  }
}



.LegendRight {
  display: block;
  text-align: center;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 200px;
}









