.header1 {
    width: 17.8%;
    height: 29px;
    text-align: center;
    margin: 5px;
    background: burlywood;
    border: 1px solid black;
    position: fixed;
}

.header2 {
    left: 18%;
    width: 23%;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.header3 {
    left: 41.15%;
    width:28.95%;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.header4 {
    left: 70.3%;
    width:28.95%;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.TableHeader {
}