.header1 {
    width: 162px;
    height: 28.600px;
    text-align: center;
    margin: 5px;
    background: burlywood;
    border: 1px solid black;
    position: fixed;
}

.header2 {
    left: 164.400px;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.header3 {
    left: 376.5px;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.header4 {
    left: 643px;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
    background: burlywood;
    vertical-align: middle;
    position: fixed;
    margin: 5px;
}

.TableHeader {
}